.container{
    max-width: 1440px;
    margin: 0 auto;
}

// BG home

.bg-home{
   position: relative;
}

.bg-home: :before{
    content: "";
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #06121e, ;
}